*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@300;400;500;600&display=swap');

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0D63F3;
        border-radius: 0 0 43px 43px;
        padding: 0 65px 0 65px;
        height: 74px;
        
    }
    .points{
        display: flex;
        justify-content: space-between;
        width: 630px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    .user{
        display: flex;
        align-items: center;
        justify-content:flex-end;
    }
    #avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff34f;
        margin-right: 10px;
    }
    #name-user{
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
    #but-personal-room{
        background-color: transparent;
        border: 0;
        margin-left: 20px;
    }




    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    h2{
        font-family: 'Inter', sans-serif;
        font-size: 25px;
        font-weight: 500;
        margin-top:33px;
        color: black;
    }
    .container{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        width: 950px;
    }
    .container-for-input{
        width: 400px;
    }
    .container-for-check{
        width: 400px;
    }
    h4{
        color: #000;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;               
    }
    .big-input{
        width: 400px;
        height: 55px;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #E6E7E8;
        margin-top: 10px;
        margin-bottom: 34px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        text-indent: 20px;
        color: #000;
        outline: none;
        
    }
    input:focus{
        border: 1px solid #0D63F3;
        
    }
    .cont-data-time{
        display: flex; 
        
    }
    .data-css{
        display: flex;
        align-items: center;
        width: 160px;
        height: 55px;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #E6E7E8;
        margin-top: 10px;
        margin-bottom: 34px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color: #000;
        outline: none;
        padding: 0 40px 0 20px;
    }
    #data{
        width: 132px;
        outline: none;
        border: none;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        border-radius: 5px;
        color: #000;
        
    }
    .data-css:focus{
        border: 1px solid #0D63F3;
    }
    .time-css{
        display: flex;
        align-items: center;
        width: 125px;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #E6E7E8;
        margin-top: 10px;
        margin-bottom: 34px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color:  #000;
        margin-left: 15px;
        outline: none;
        padding: 0 20px 0 20px;
    }
    #time{
        width: 90px;
        height: 55px;
        outline: none;
        border: none;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        border-radius: 5px;
        color: #000;
    }
    #tie:focus{
        border: 1px solid #0D63F3;
    }



    .cont-radio-access{
        margin-top: 15px;
    }
    .cont-radio{
        display: flex;  
    }
    .cont-radio1{
        display: flex;  
        margin-top: 20px;
    }
    .radio-css{
        margin-right:20px;
        width: 24px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        border: 1px solid #0D63F3;
        transition: 0.2s;
    }
    .radio-css:checked{
        background-color: #0D63F3;
        outline: 2px solid #ffffff;
        box-shadow:0px 0px 0px 3px #ffffff inset;
        
    }
    .cont-radio-settings{
        margin-top:30px;
        display: flex;
        flex-direction: column;
    }
    .cont-radio-settings1{
        display: flex;
        border-bottom:2px solid #E6E7E8;
        justify-content: space-between;
        padding:20px 0 20px 0 ;
    }
    #big-h4{
        width: 230px;
    }
    .radio-css1{
        width: 40px;
        height: 24px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50% 50% 50% 50%;
        background-color: #5DB075;
        transition: 0.2s;
    }
    .radio-css1:checked{
        
    }
    .cont-PDF{
        margin-top: 50px;
    }
    #PDF-button{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        background: #0D63F3;
        border: none;
        border-radius: 5px;
        width: 225px;
        height: 60px;
        outline: none;
    }
    #svg-PDF{
        margin-left: 10px;
    }
    .cont-radio-add-settings{
        margin-top: 50px;
    }
    .cont-radio-add-settings1{
        margin-top: 20px;
        display: flex;
    }
    .checkbox-css{
        width: 24px;
        margin-right: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        border: 1px solid #0D63F3;
        transition: 0.2s;
    }
    .checkbox-css:checked{
        background-color: #0D63F3;
    }







    #save{
        margin-top: 40px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        background: #0D63F3;
        border: none;
        border-radius: 5px;
        width: 225px;
        height: 60px;
        outline: none;
    }
    h3{
        margin-top: 65px;
        margin-bottom: 20px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #BDBDBD;
        background-color: transparent;

    }

    @media  {
        
    }