*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.main{
    
}

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0D63F3;
        border-radius: 0 0 43px 43px;
        padding: 0 65px 0 65px;
        height: 74px;
        
    }

    .points{
        display: flex;
        justify-content: space-between;
        width: 630px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .user{
        display: flex;
        align-items: center;
        justify-content:flex-end;
    }

    #avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff34f;
        margin-right: 10px;
    }
    
    #name-user{
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }

    #but-personal-room{
        background-color: transparent;
        border: 0;
        margin-left: 20px;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    h2{
        font-family: 'Inter', sans-serif;
        font-size: 25px;
        margin-top:33px;
        color: black;
    }
    .container{
        display: flex;
        justify-content: space-between;
        width: 950px;
    }
    .container1{
        width: 400px;
        height: 600px;
    }
    .container2{
        width: 400px;
        height: 600px;
    }
    h4{
        color: #000;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    .big-input{
        width: 400px;
        height: 55px;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #0D63F3;
        margin-top: 10px;
        margin-bottom: 34px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        text-indent: 20px;
        color: #000;
        
    }
    .big-input:focus{
        border: 1px solid #0D63F3;
        
    }
    .data{
        display: flex;
    }
    #data{
        width: 220px;
        height: 55px;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #0D63F3;
        margin-top: 10px;
        margin-bottom: 34px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        text-indent: 20px;
        color: #000;
    }
    #time{
        width: 165px;
        height: 55px;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid #0D63F3;
        margin-top: 10px;
        margin-bottom: 34px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        text-indent: 20px;
        color: #000;
        margin-left: 20px;
    }
    #nice{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        background: #0D63F3;
        border: none;
        border-radius: 5px;
        width: 225px;
        height: 60px;
    }
    h3{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        color: #BDBDBD;
        background-color: transparent;

    }